<p>
  <strong>Flight number:</strong>
  <%= @person.flight_number %>
</p>

<p>
  <strong>Flying from:</strong>
  <%= @person.flying_from %>
</p>

<p>
  <strong>Flying to:</strong>
  <%= @person.flying_to %>
</p>

<p>
  <strong>Flying in:</strong>
  <%= @person.flying_in %>
</p>

<p>
  <strong>Flying out:</strong>
  <%= @person.flying_out %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @person.notes %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
