<h1>Events</h1>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Time</th>
      <th>Place</th>
      <th>Address</th>
      <th>Attending</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.name, event %></td>
        <td><%= event.date %></td>
        <td><%= event.time %></td>
        <td><%= event.place %></td>
        <td><%= event.address %>, <%= event.city %>, <%= event.state %> <%= event.zip_code %></td>
        <td><%= event.attending %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Edit', edit_event_path(event) %></td>
          <td><%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Event', new_event_path %>
<% else %>
  <p><%= link_to 'Sign in', new_user_session_path %> to add/edit/delete an event!</p>
<% end %>
