<p>
  <h1><%= @event.name %></h1>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.time %>
</p>

<p>
  <strong>Place:</strong>
  <%= @event.place %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>, <%= @event.city %>, <%= @event.state %> <%= @event.zip_code %>
</p>

<p>
  <strong>Attending:</strong>
  <%= @event.attending %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @event.notes %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
