<h1><%= @event.name %></h1>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.time %>
</p>

<p>
  <strong>Place:</strong>
  <%= @event.place %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>, <%= @event.city %>, <%= @event.state %> <%= @event.zip_code %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= raw @event.phone_number %>
</p>

<p>
  <strong>Attending:</strong>
  <%= @event.attending %>
</p>

<p>
  <strong>Notes:</strong>
  <%= raw @event.notes %>
</p>

<br />
<% if user_signed_in? %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<%= link_to 'Back', events_path %>
