
<h1><%= @hotel.name %></h1>

<p>
  <strong>Address:</strong>
  <%= @hotel.address %>, <%= @hotel.city %>, <%= @hotel.state %> <%= @hotel.zip_code %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @hotel.phone_number %>
</p>

<p>
  <strong>Nights:</strong>
  <%= @hotel.nights %>
</p>

<p>
  <strong>Website:</strong>
  <%= raw @hotel.website %>
</p>

<p>
  <strong>Sharing with:</strong>
  <%= @hotel.sharing_with %>
</p>

<br />
<% if user_signed_in? %>
  <%= link_to 'Edit', edit_hotel_path(@hotel) %> |
<% end %>
<%= link_to 'Back', hotels_path %>
